<!DOCTYPE html>
<html>
<head>
  <title>Info</title>
  <link rel="stylesheet" type="text/css" href="/css/info.css">
</head>
<body>
  <div class="container">
    <h2>Info</h2>
    <p>Hospital has been added successfully!</p>
    <a href="/admin">Go Back to Admin Panel</a>
  </div>
</body>
</html>
